.container_navbar{
    height: 40px;
    width: 90%;
    border: 3px solid rgba(28, 90, 148, 0.8);
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;

}


.navlink{
    text-decoration: none;
    padding: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
}


.logo{
    font-size: 20px;
    font-weight: 700;
    padding: 5px 5px;
    /* text-decoration: none; */

}

.logo a{
    text-decoration: none;
    color:rgba(46, 134, 193,2);
}