.animaction_text{
    margin: 5% 5%;
    font-size: 20px;
    font-weight: 900;
}

.animaction_text span{
    position: relative;
}

.animaction_text span::before{
   content: "";
   color: rgba(9, 17, 129, 0.5);
   animation: words .8s infinite;
}

@keyframes words{
    0%,20%{
        content:"MEMORY ";
    }
    21%,40%{
        content:"MEMORY RETENCTION";
    }
    61%,80%{
        content:"MEMORY  RETENCTION";
    }
    81%,100%{
        content:"MEMORY RETENCTION";
    }
}

.animaction_text span::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left:-8;
    border-left: 3px solid black;
    animation: cursor .8s infinite;
    /* background-color: rgba(12, 11, 11, 0.5); */
 }

 @keyframes cursor{
   to{
    border-left: 2px solid white;
   }
 }
